@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --Darkcyan: hsl(185, 75%, 39%);
  --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
  --Dark_grayish_blue: hsla(227, 10%, 46%, 0.2);
  --Dark_gray: hsl(0, 0%, 59%);
}
/* img {
  min-width: 100%;
} */
body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--Darkcyan);
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-position: 124% 250%, -22% -150%;
  background-repeat: no-repeat, no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #fff;
  max-width: 400px;
  width: 90%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.bg-pattern-card {
  width: 100%;
}
.bg-pattern-card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--Dark_grayish_blue);
}
.name {
  margin-top: 65px;
}

.followers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}
.avatar {
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -50%;
  border: 5px solid white;
}
p {
  font-weight: 700;
  font-size: 18px;
  color: var(--Very_dark_desaturated_blue);
}
span,
.address {
  font-weight: 100;
  color: var(--Dark_gray);
}
.address {
  margin-top: -10px;
}
